<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tienon.boot.modules.business.mapper.PaymentOnlineMapper">
	<resultMap id="BaseResultMap" type="com.tienon.boot.modules.business.domain.ApplyInfo">
		<id column="APPLYNO" 			jdbcType="VARCHAR"	 property="applyNo" />
		<result column="ACCEPTDATE" 	jdbcType="DATE" 	 property="acceptDate" />
		<result column="COMPANYNAME"    jdbcType="VARCHAR"	 property="companyName" />
		<result column="HUMANNAME" 		jdbcType="VARCHAR"	 property="humanName" />
		<result column="IDCARDNO" 		jdbcType="VARCHAR"	 property="idCardNo" />
		<result column="TRADEMARKNAME" 	jdbcType="VARCHAR"	 property="trademarkName" />
		<result column="ACCEPTTYPE" 	jdbcType="VARCHAR"	 property="acceptType" />
		<result column="ADDTYPE" 		jdbcType="VARCHAR"	 property="addType" />
		<result column="STATUS" 		jdbcType="VARCHAR"	 property="status" />
		<result column="OPERATIONDATE" 	jdbcType="DATE"	 	 property="operationDate" />
		<result column="OPERATOR" 		jdbcType="VARCHAR"	 property="operator" />
		<result column="AMT" 			jdbcType="NUMERIC"	 property="amt" />
		<result column="APPLYTYPENAME"  jdbcType="VARCHAR"	 property="acceptTypeName" />
	</resultMap>
	
	<sql id="Base_Column_List">
		APPLYNO, ACCEPTDATE, COMPANYNAME,HUMANNAME,IDCARDNO,TRADEMARKNAME,
		ACCEPTTYPE,ADDTYPE,STATUS,OPERATIONDATE,OPERATOR,AMT
	</sql>
	
</mapper>