<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<springProperty scop="context" name="LOG_HOME" source="log.path"
		defaultValue="log" />
	<springProperty scope="context" name="springAppName"
		source="spring.application.name" />
	<property name="LOG_PATTERN"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS}[%-5level][%thread][${springAppName:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}][%X{pid}-%X{id}] %logger{50}-%msg%n" />
	<!--控制台 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>
	
	<!--BIZ-->
	<appender name="BIZ"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>C:/logs/sbzcmanager/biz.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<MaxHistory>30</MaxHistory>
			<maxFileSize>200MB</maxFileSize>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${LOG_PATTERN}</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>
    
    <!--ERROR-->
    <appender name="ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>C:/logs/sbzcmanager/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<MaxHistory>30</MaxHistory>
			<maxFileSize>200MB</maxFileSize>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${LOG_PATTERN}</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!--ELK -->
	<!-- <appender name="LOGSTASH"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>D:/logs/szh-simservice/elk.%d{yyyy-MM-dd}.%i.json
			</fileNamePattern>
			<MaxHistory>30</MaxHistory>
			<maxFileSize>200MB</maxFileSize>
		</rollingPolicy>
		<encoder
			class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<timeZone></timeZone>
				</timestamp>
				<pattern>
					<pattern>
						{
						"severity": "%level",
						"service": "${springAppName:-}",
						"trace": "%X{X-B3-TraceId:-}",
						"span": "%X{X-B3-SpanId:-}",
						"exportable": "%X{X-Span-Export:-}",
						"pid": "${PID:-}",
						"id":
						"%X{id:-}",
						"ejxPid": "%X{pid:-}",
						"thread": "%thread",
						"class":
						"%logger{40}",
						"rest": "%message"
						}
					</pattern>
				</pattern>
			</providers>
		</encoder>
	</appender> -->
	<logger name="com.tienon.boot.conf" level="DEBUG" />
	<logger name="com.tienon.boot.mapper" level="DEBUG" />
	<logger name="com.tienon.eas.mapper" level="DEBUG" />
	<logger name="com.tienon.component.mapper" level="DEBUG" />
	
	<!-- 日志输出级别 -->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<!-- <appender-ref ref="LOGSTASH" /> -->
		<appender-ref ref="BIZ" />
		<appender-ref ref="ERROR" />
	</root>
</configuration>
