<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tienon.boot.modules.business.mapper.ApplyMapper">
	<resultMap id="BaseResultMap" type="com.tienon.boot.modules.business.domain.ApplyInfo">
		<id column="APPLYNO" jdbcType="VARCHAR" property="applyNo" />
		<result column="ACCEPTDATE" jdbcType="DATE" property="acceptDate" />
		<result column="COMPANYNAME" jdbcType="VARCHAR" property="companyName" />
		<result column="HUMANNAME" jdbcType="VARCHAR" property="humanName" />
		<result column="IDCARDNO" jdbcType="VARCHAR" property="idCardNo" />
		<result column="TRADEMARKNAME" jdbcType="VARCHAR" property="trademarkName" />
		<result column="ACCEPTTYPE" jdbcType="VARCHAR" property="acceptType" />
		<result column="ADDTYPE" jdbcType="VARCHAR" property="addType" />
		<result column="OPERATIONDATE" jdbcType="DATE" property="operationDate" />
		<result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
		<result column="AMT" jdbcType="NUMERIC" property="amt" />
		<result column="APPLYTYPENAME" jdbcType="VARCHAR" property="acceptTypeName" />
		<result column="DELETEFLAG" jdbcType="VARCHAR" property="deleteFlag" />
	</resultMap>

	<sql id="Base_Column_List">
		APPLYNO,
		ACCEPTDATE,
		COMPANYNAME,
		HUMANNAME,
		IDCARDNO,
		TRADEMARKNAME,
		ACCEPTTYPE,
		APPLYTYPENAME,
		ADDTYPE,
		OPERATIONDATE,
		OPERATOR,
		AMT,
		DELETEFLAG
	</sql>

	<select id="selectApply" parameterType="com.tienon.boot.modules.business.domain.ApplyInfo"
		resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			TB_APPLY,TB_APPLY_TYPE
		WHERE
		     ACCEPTTYPE = APPLYTYPENO 
			<if test="companyName != null and companyName != ''">AND COMPANYNAME like
				concat(concat('%',#{companyName,jdbcType=VARCHAR}),'%')</if>
			<if test="humanName != null and humanName != ''">AND HUMANNAME like
				concat(concat('%',#{humanName,jdbcType=VARCHAR}),'%')</if>
			<if test="trademarkName != null and trademarkName != ''">AND TRADEMARKNAME like
				concat(concat('%',#{trademarkName,jdbcType=VARCHAR}),'%')</if>
			<if test="acceptType != null and acceptType != '' and acceptType != '请选择'">AND ACCEPTTYPE = #{acceptType,jdbcType=VARCHAR}</if>
			<if test="beginTime != null and beginTime != ''">AND ACCEPTDATE &gt;= #{beginTime}</if>
			<if test="endTime != null and endTime != ''">AND ACCEPTDATE &lt;= #{endTime}</if>
		ORDER BY 
			OPERATIONDATE 
		DESC
	</select>

	<select id="getLastApplyNo" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM 
			TB_APPLY,TB_APPLY_TYPE 
		WHERE
		     ACCEPTTYPE = APPLYTYPENO 
		ORDER BY 
			ACCEPTDATE 
		DESC 
		LIMIT 1
	</select>

	<insert id="insert" parameterType="com.tienon.boot.modules.business.domain.ApplyInfo">
		INSERT
		INTO
   	 		TB_APPLY
    		(
        		APPLYNO,
        		ACCEPTDATE,
        		COMPANYNAME,
        		HUMANNAME,
        		IDCARDNO,
        		TRADEMARKNAME,
        		ACCEPTTYPE,
        		ADDTYPE,
        		OPERATIONDATE,
        		OPERATOR,
        		AMT,
        		DELETEFLAG
            )
		VALUES 
		    (
			   #{applyNo,jdbcType=VARCHAR}, 
			   #{acceptDate,jdbcType=DATE},
			   #{companyName,jdbcType=VARCHAR},
		       #{humanName,jdbcType=VARCHAR},
		       #{idCardNo,jdbcType=VARCHAR},
		       #{trademarkName,jdbcType=VARCHAR},
		       #{acceptType,jdbcType=VARCHAR},
		       #{addType,jdbcType=VARCHAR}, 
		       #{operationDate,jdbcType=DATE},
		       #{operator,jdbcType=VARCHAR}, 
		       #{amt,jdbcType=NUMERIC},'0')
	</insert>

	<update id="updateByapplyNo" parameterType="java.util.List">
		UPDATE
    		TB_APPLY
		SET
    		DELETEFLAG = '1'
		WHERE
    		APPLYNO IN
    		(
        		SELECT
            		applyNo
        		FROM
            		tb_pay_order
        		WHERE
            		applyno IN
			(
		<foreach collection="list" item="applyNo" separator=",">
			#{applyNo}
		</foreach>
		)AND (status='01' or status='05')
		)
	</update>

	<sql id="Print_List">
		APPLYNO, ACCEPTDATE,
		COMPANYNAME,HUMANNAME,IDCARDNO,TRADEMARKNAME,
		ACCEPTTYPE,ADDTYPE,OPERATIONDATE,OPERATOR,AMT,APPLYTYPENAME
	</sql>
	<select id="selectApplyByNo" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Print_List" />
		FROM TB_APPLY ,TB_APPLY_TYPE WHERE
		ACCEPTTYPE =APPLYTYPENO AND APPLYNO=#{applyNo,jdbcType=VARCHAR}
	</select>

	<select id="reportList" parameterType="com.tienon.boot.modules.business.domain.ApplyInfo"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Print_List" />
		FROM TB_APPLY , TB_APPLY_TYPE
		<where>
			ACCEPTTYPE =APPLYTYPENO
			<if test="beginTime != null and beginTime != ''">AND ACCEPTDATE &gt;= #{beginTime}</if>
			<if test="endTime != null and endTime != ''">AND ACCEPTDATE &lt;= #{endTime}</if>
			AND DELETEFLAG != '1'
		</where>
		ORDER BY ACCEPTDATE ASC
	</select>

	<select id="downloadList" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Print_List" />
		FROM TB_APPLY , TB_APPLY_TYPE
		<where>
			ACCEPTTYPE =APPLYTYPENO
			<if test="beginTime != null and beginTime != ''">AND ACCEPTDATE &gt;= #{beginTime}</if>
			<if test="endTime != null and endTime != ''">AND ACCEPTDATE &lt;= #{endTime}</if>
			AND DELETEFLAG != '1'
		</where>
		ORDER BY ACCEPTDATE ASC
	</select>

</mapper>