<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>定时任务</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all" />
    <style type="text/css">
        .layui-table-fixed-r {
            left: auto;
            right: -1px;
            border-width: 0 0 0 1px;
            display: inline !important;
            box-shadow: -1px 0 8px rgba(0, 0, 0, .08);
        }
    </style>
</head>
<body>
<div class="layui-fluid form-container">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form">
                <div class="layui-form-item layui-row">

                    <div class="layui-col-md4">
                        <label class="layui-form-label">任务名称:</label>
                        <div class="layui-input-block">
                            <input  name="companyName" id="companyName"
                                    lay-verify="companyName" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-col-md8">
                        <div class="search" style="float: left;">

                            <div class="layui-inline layui-bottom-space">
                                <button type="button" class="layui-btn  queryCommit">查询</button>
                                <button type="button" class="layui-btn  addJobs_btn">新增</button>
                                <button type="button" class="layui-btn layui-bg-red delAll_btn">批量删除</button>
                                <button type="flush" class="layui-btn layui-btn-primary">重置</button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
            <!-- 表格 -->
            <table id="operateList" lay-filter="operateList"></table>
            <!--操作-->
            <script type="text/html" id="roleListBar">

			</script>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base : '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index : 'lib/index' //主入口模块
    }).use([ 'index','system/jobList'], function() {

    });
</script>
</body>
</html>